include README.md
include LICENSE
include requirements.txt
include pyproject.toml
include setup.cfg

recursive-include windgrib *.py
recursive-include examples *.py
recursive-include tests *.py

prune tests/__pycache__
prune windgrib/__pycache__
prune .git